
    @{ 
        ViewBag.Title = "Login";
        Layout = "~/Views/Shared/_Layout.cshtml";
     }
    
    


<h2>Ingrese al Sistema</h2>
@{ 
    if(!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-warning">@ViewBag.Message</div>
            }
}


 <div class="form-horizontal">
      <form action="/Usuario/Login" method="post">
      @Html.AntiForgeryToken()
      <div class="form-goup">
          <label class="control-label col-md-2">Usuario </label>
          <div class="col-md-10">
              <input type="email" name="email" class="form-control" placeholder="Email"/>
              <br />
          </div>
      </div>

      <div class="form-goup">
          <label class="control-label col-md-2">Contraseña</label>
          <div class="col-md-10">
              <input type="password" name="password" class="form-control" placeholder="Password" /> 
              <br />
          </div>
      </div>
        
            <div class="form-goup">
                <div class="col-md-offset-2 col-md-10">
                     <input type="submit" value="ingresar" class="btn btn-default"/>
                </div>
            </div>
        </form>
 </div>

