
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

@{ 
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@{ 
    int num = 87456;
    string text = "juan roa";

}

<div>
    <p> Hola @text,su numero de documento es </p>

</div>