@model ProyectoAdsi.Models.compra

<select class="form-control" id="id_usuario" name="id_Usuario">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
    }
</select>

