@model IEnumerable<ProyectoAdsi.Models.producto_compra>

<select class="form-control" id="id_compra" name="id_compra">
   
    @foreach (var item in Model)

    {

        <option value="@item.id">@item.total</option>
        
    }
</select>

