@model IEnumerable<ProyectoAdsi.Models.proveedor>

<select class="form-control" id="id_Proveedor"name="id_proveedor">
    @foreach (var item in Model) 

    {
    
                    <option value="@item.id">@item.nombre</option>


    }
</select>