@model IEnumerable<ProyectoAdsi.Models.usuario>


<select class="form-control" id="id_rol" name="id_rol">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
}
</select>

