@model IEnumerable<ProyectoAdsi.Models.roles>

<select class="form-control" id="id_" name="id">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.id</option>
    }
</select>

